@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Scheherazade+New&display=swap");

.ContractTopWallets_Container {
  height: 100%;
  padding-top: 30px;

  font-weight: 400;
  padding-top: 100px;
}
.ContractTopWallets_Container .btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: thin dotted;
  outline-offset: -2px;
}

.Contract_Row_Container_Buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
  white-space: nowrap;
}

.Contract_Col_Container_ButtonsClick {
  display: flex;
}
.Contract_Col_Container_ButtonsClick button {
  margin-right: 5%;
}

.Contract_Row_Container_Buttons p {
  /* margin - padding */
  padding-top: 25px;
  /* fonts */

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  font-feature-settings: "salt" on;

  /* Generic/White */

  color: #ffffff;
}

.Contract_Row_Container_Buttons p b {
  /* margin - padding */
  padding-left: 15px;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  font-feature-settings: "salt" on;

  color: #ffffff;
  opacity: 0.5;
}
.Contract_Row_Container_Buttons button {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #b6b6b6 !important;
  background: rgba(255, 255, 255, 0.051);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 44px;
}

.ContractTopWallets_Container .show > .btn-primary.dropdown-toggle {
  background-color: transparent;
  color: white;
  box-shadow: none !important;
  transition: 0.2s;
}

.ContractTopWallets_Container button:hover {
  box-shadow: 1px 0px 59px -8px rgba(34, 85, 85, 0.41) inset;
  -webkit-box-shadow: 1px 0px 59px -8px rgba(34, 85, 85, 0.41) inset;
  -moz-box-shadow: 1px 0px 59px -8px rgba(34, 85, 85, 0.41) inset;
}

.ContractTopWallets_Container .Contract_Col_Container_ButtonsClick .Active {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;

  font-weight: 500;
  border: 0px;
  color: rgba(34, 33, 33, 1) !important;
}

#MonitoringWalletsDisabled,
#SuspiciousWallets {
  cursor: default;
}

/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .ContractTopWallets_Container {
    height: 100%;
    width: 100%;
    padding-top: 30px;
  }

  .ContractTopWallets_Row__Pagination {
    padding-top: 0%;
    height: 100%;
  }

  .Contract_Col_Container_ButtonsClick {
    padding-top: 50px;
  }
}
