@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Scheherazade+New&display=swap");

/* NOMBRES DE TABLAS */

/* INFORMACION DE LAS TABLAS */

.SimiliarContractsTable_Container td {
  font-weight: 400;
  font-size: 14px;
  color: #b6b6b6 !important;
  text-align: left;
}

.SimiliarContractsTable_Container button {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 2px;
  color: #b6b6b6;
}

.SimiliarContractsTable_Container td img {
  margin-right: 10px;
}

.InputSimilarity {
  box-sizing: border-box;

  width: 51px;
  height: 31px;
  color: white;
  background: rgba(24, 24, 24, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.InputSimilarityText {
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  background: rgba(24, 24, 24, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  color: white;
}

.SimiliarContractsTable_Container td div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.SimiliarContractsTable_Container .progress {
  margin-top: 8px;
  width: 35%;
  height: 5px;
  background-color: #e9ecef30;
}

.SimiliarContractsTable_Container .ProgressBar_Center {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

.SimiliarContractsTable_Container .ProgressBar_Center p {
  height: 30px;

  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
}

.SimiliarContractsTable_Container .td_Center {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.SimiliarContractsTable_Container .LastContracts_ApprovedDot {
  transform: scale(2);
}

.SimiliarContractsTable_Container .LastContracts_ApprovedDot.danger {
  color: #ff0000;
  width: 20px;
  height: 30px;
  transform: scale(2);
}

.SimiliarContractsTable_Container .LastContracts_ApprovedDot.warning {
  color: #ffff00;
  width: 20px;
  height: 30px;
}

.SimiliarContractsTable_Container .LastContracts_ApprovedDot.success {
  color: #008000;
  width: 20px;
  height: 30px;
}

.SimilarContractsTable_Dropdown button {
  box-sizing: border-box;
  width: 105px;
  height: 31px;

  background: rgba(24, 24, 24, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.SimilarContractsTable_Dropdown .Container_DropDown {
  display: flex;
}

.SimilarContractsTable_Dropdown .Container_DropDown p {
  margin-right: 20px;
}
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */
/* ----MEDIA QUERY---- */

.imgSimilarContracts {
  background-color: #7393b3;
  width: 25px;
  height: 25px;
  margin-top: 2%;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .SimiliarContractsTable_Container {
    height: 100%;
    width: 100vw;
    padding-top: 30px;
  }

  .SimiliarContractsTable_Row__Pagination {
    padding-top: 0%;
    height: 100%;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .SimiliarContractsTable_Container {
    height: 100%;
    width: 100%;
    padding-top: 30px;
  }

  .SimiliarContractsTable_Row__Pagination {
    padding-top: 0%;
    height: 100%;
  }
}

#PorcentajeInput {
  position: relative;
  bottom: 26px;
  left: 28px;
}

.InputName {
  background-color: transparent;
  border: none;
  color: #b6b6b6 !important;
  margin-left: 5%;
}

.InputName:focus,
.InputName:active {
  background-color: transparent;
  border: none;
  outline: none;
  color: #b6b6b6 !important;
}
